@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #161719;
  --color-primary: #5044e5;
  --color-primary-foreground: #f9f9f9;
  --color-secondary-foreground: #364153;
  --color-border: #d1d5dc;
}

@layer base {
  html {
    font-family: "outfit", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  button {
    @apply cursor-pointer transition-all duration-300;
  }

  input,
  textarea {
    @apply border-gray-400;
  }
}

@layer utilities {
  .scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
